<h1>Create a new developer</h1>

<form action="/developers" method="POST">
    <label>Developer Name:</label>
    <input type="text" name="developer[name]" id="developer_name"><br>

    <input type="Submit" value="Create Developer">
</form>