<h2>Edit Console Details or Delete Console</h2>
<p>Note: Only ADMIN account has permission to edit or delete console details.</p>

<form action="/consoles/<%= @console.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label>Edit console name:</label>
  <input type="text" id="name" name="name" value="<%= @console.name %>">
  <label>Edit console manufacturer:</label>
  <input type="text" id="manufacturer" name="manufacturer" value="<%= @console.manufacturer %>">
  <br>

  <input type="submit" value="Edit console">
</form>

<br><br>
<h4>OR</h4>
<br><br>

<form action="/consoles/<%= @console.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete console">
</form>
