<h2>Add a new console to your collection.</h2>
<p>Note: The new console will be added to the library and will be viewable by all users.</p>

<form action="/consoles" method="post">
  <label>Type in console name:</label>
  <input type="text" id="name" name="name">
  <label>Type in manufacturer:</label>
  <input type="text" id="manufacturer" name="manufacturer">
  <br>
  <input type="checkbox" id="new_console" name="new_console" value="true">Add another new console<br>
  <br>

  <input type="submit" value="Create new console">
</form>
