<% if @path == '/myconsoles' %>
  <h2>List of the consoles in your collection</h2>
<% elsif @path == '/consoles' %>
  <h2>List of all consoles in the library owned by users</h2>
<% end %>

<ul>
  <% @consoles.each do |console| %>
    <li><a href="/consoles/<%= console.id %>"><%= console.name %></li>
  <% end %>
</ul>

<% if @path == '/myconsoles' && current_user.username != "ADMIN" %>
  <h4><a href='/myconsoles/update'>Update</a> console(s) in your collection</h4>
<% end %>

<% if current_user.username == "ADMIN" %>
  <h4><a href='/consoles/new'>Add</a> new console to the library</h4>
<% end %>
