<h2>Please enter your username and password below:</h2>

<form action="/login" method="post">
  <label>Enter Username: </label>
  <input type="text" id="username" name="username"><br>
  <label>Enter Password: </label>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Login">
</form>
<br>
<br>
<p>Don't have an account? Create one <a href="/signup">here</a>.</p>
