<h2>First time on the site? Create a new username and password below:</h2>

<form action="/signup" method="post">
  <label>Create Username: </label>
  <input type="text" id="username" name="username"><br>
  <label>Create Password: </label>
  <input type="password" id="password" name="password"><br>
  <label>Confirm Password: </label>
  <input type="password" id="pw_confirm" name="pw_confirm"><br>
  <input type="submit" value="Signup">
</form>
<br>
<br>
<p>Already have an account? Login <a href="/login">here</a>.</p>
