<h2>Add a new game to your collection.</h2>
<p>Note: The new game will be added to the library and will be viewable by all users.</p>

<form action="/games" method="post">
  <label>Type in game name:</label>
  <input type="text" id="name" name="name">
  <br>
  <input type="checkbox" id="new_game" name="new_game" value="true">Add another new game<br>
  <br>

  <input type="submit" value="Create new game">
</form>
