<h2>List of all uses' games in the library</h2>

<ul>
  <% @games.each do |game| %>
    <li><a href="/games/<%= game.id %>"><%= game.name %></li>
  <% end %>
</ul>
<br><br>

<% if logged_in? %>
  <h4><a href='/games/new'>Add a game to your collection</a></h4>
<% end %>
