<% if @path == '/mygames' %>
  <h2>List of the games in your collection</h2>
<% elsif @path == '/games' %>
  <h2>List of all games in the library owned by users</h2>
<% end %>

<ul>
  <% @games.each do |game| %>
    <li><a href="/games/<%= game.id %>"><%= game.name %></li>
  <% end %>
</ul>

<% if @path == '/mygames' %>
  <h4><a href='/mygames/add'>Add</a> game(s) to your collection</h4>
<% end %>
