<!DOCTYPE html>
<html>
  <head>
    <title>The Game Library</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
  </head>

  <body>
    <h1>GAMES! GAMES! GAMES!</h1>
    <nav>
      <a href="/">Home</a>  |
      <% if logged_in? %>
        <a href="/mygames">My Games</a>  |
        <a href="/games">All Games</a>  |
        <a href="/myconsoles">My Consoles</a>  |
        <a href="/consoles">All Consoles</a>  |
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>  |
        <a href="/signup">Signup</a>
      <% end %>
    <div>
      <%= yield %>
    </div>

    <div id="flash">
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
    </div>

  </body>
</html>
